<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706469177537-6fbcighkag3ol83j4b5lebc1tgpnku9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706469177537-6fbcighkag3ol83j4b5lebc1tgpnku9o</string>
	<key>API_KEY</key>
	<string>AIzaSyAIPwcdX62vq-kvxjWYwY4EbONXjiGcbqg</string>
	<key>GCM_SENDER_ID</key>
	<string>706469177537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youss.GameOfChat</string>
	<key>PROJECT_ID</key>
	<string>gameofchat-e434d</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchat-e434d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706469177537:ios:fd27d95224f0001d</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchat-e434d.firebaseio.com</string>
</dict>
</plist>